.DS_Store
tickat/tickat.xcodeproj/project.xcworkspace/xcuserdata/camiila_simoes.xcuserdatad/
tickat/tickat.xcodeproj/xcuserdata/camiila_simoes.xcuserdatad/
tickat/tickat.xcodeproj/project.xcworkspace/xcuserdata/lucascardoso.xcuserdatad/
tickat/tickat.xcodeproj/project.xcworkspace/xcuserdata/lucascardoso.xcuserdatad/UserInterfaceState.xcuserstate